.container {
    margin: 10px auto;
    max-width: 724px;
    text-align: center;


}

.title {
    color: rgba(101, 134, 177, 0.8);
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
}