.row {
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

.btn {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #444444;
    color: #ffffff;
    border-radius: 3px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-Backspase {
    width: 100px;
    font-weight: 600;
    background-color: #222222;
}
.key-Tab {
    width: 50px;
    font-weight: 600;
    background-color: #222222;
}

.key-Del {
    width: 44px;
    font-weight: 600;
    background-color: #222222;
}